:root {
	/* hund colorscheme */
	--dark-bg: #161616;
	--dark-fg: #ffffff;
	--dark-00: #222222;
	--dark-01: #e84f4f;
	--dark-02: #b7ce42;
	--dark-03: #fea63c;
	--dark-04: #66aabb;
	--dark-05: #b74163;
	--dark-06: #6d878d;
	--dark-07: #dddddd;
	--dark-10: #666666;
	--dark-11: #d23d3d;
	--dark-12: #bde077;
	--dark-13: #ffe863;
	--dark-14: #aaccbb;
	--dark-15: #e16a98;
	--dark-16: #42717b;
	--dark-17: #cccccc;

	/* ivory light colorscheme */
	--light-bg: #fef9ec;
	--light-fg: #6d727e;
	--light-00: #c5c1b4;
	--light-01: #e75c58;
	--light-02: #00a250;
	--light-03: #a08a00;
	--light-04: #208ffb;
	--light-05: #d160c4;
	--light-06: #00a4c1;
	--light-07: #3e424d;
	--light-10: #a1a6b2;
	--light-11: #b22b31;
	--light-12: #007427;
	--light-13: #715f00;
	--light-14: #0065ca;
	--light-15: #a03196;
	--light-16: #007693;
	--light-17: #282c36;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--dark-bg);
		--fg: var(--dark-fg);
		--grey-1: var(--dark-00);
		--grey-2: var(--dark-10);
		--red-1: var(--dark-01);
		--red-2: var(--dark-11);
		--green-1: var(--dark-02);
		--green-2: var(--dark-12);
		--orange-1: var(--dark-03);
		--orange-2: var(--dark-13);
		--blue-1: var(--dark-04);
		--blue-2: var(--dark-14);
		--pink-1: var(--dark-05);
		--pink-2: var(--dark-15);
		--teal-1: var(--dark-06);
		--teal-2: var(--dark-16);
		--grey-3: var(--dark-07);
		--grey-4: var(--dark-17);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: var(--light-bg);
		--fg: var(--light-fg);
		--grey-1: var(--light-00);
		--grey-2: var(--light-10);
		--red-1: var(--light-01);
		--red-2: var(--light-11);
		--green-1: var(--light-02);
		--green-2: var(--light-12);
		--orange-1: var(--light-03);
		--orange-2: var(--light-13);
		--blue-1: var(--light-04);
		--blue-2: var(--light-14);
		--pink-1: var(--light-05);
		--pink-2: var(--light-15);
		--teal-1: var(--light-06);
		--teal-2: var(--light-16);
		--grey-3: var(--light-07);
		--grey-4: var(--light-17);
	}
}
